<%= form_with(model: [@item, @comment], local: true) do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, id: "title" %>
  </div>

  <div class="field" id="star">
    <%= f.label :rate,  "評価 " ,id: "e" %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

<script>
  $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'comment[rate]',
  });
</script>
  
  <div>
    <%= f.text_area :content, id: "content" %>
  </div>
  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>