<div class="home_comment mb-3">
  <div class="row">
    <div class="col-md-2 col-3 text-center pt-2">
        <%= image_tag comment.user.image.url, width: '80px' %>
        <p><%= comment.user.name %></p>
    </div>

    <div class="col-md-6 col-9">
      <div class="comment_content">
        <span class="font-weight-bold"><%= comment.title %></span>
        <br><span id="star-rate-<%= comment.id %>"></span>

        <script>
          $('#star-rate-<%= comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            readOnly: true,
            score: <%= comment.rate %>,
          });
        </script>

      </div>
      <p class="pt-1"><%= comment.content %></p>
    </div>

    <div class="col-md-4 col-12 text-center">
      <%= link_to item_path(comment.item) do %>
        <%= image_tag comment.item.image_url, width: '220px' %>
      <% end %>
        <div>
          <p><%= link_to comment.item.name, item_path(comment.item) %> / <%= comment.item.company %></p>
        </div>
    </div>

      <div class="col-md-12 text-right">
        <p>
          <%= l comment.created_at %> に投稿
          <% if comment.user == current_user %>
            <%= link_to "口コミを削除する", item_comment_path(comment.item_id, comment.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class:"btn btn-success btn-sm" %>
            <%= link_to "口コミを編集する", edit_item_comment_path(comment.item_id, comment.id), class:"btn btn-success btn-sm" %>
          <% end %>
        </p>
      </div>
  </div>
</div>