<%= javascript_pack_tag 'star' %>

<h3>最近のコメント</h3>
<% @comment.each do |comment| %>
  <%= comment.user.name %>さんの口コミ
  <%= render 'shared/comments', comment: comment %>
  <div>
    <%= image_tag comment.item.image_url, :size => '128x128'  %>
    <%= link_to comment.item.name, item_path(comment.item) %>
  </div>
<% end %>
<h3>最近登録されたアイテム</h3>
<% @item.each do |item| %>
  <div>
    <p><%= link_to item.name, item_path(item) %></p>
    <%= image_tag item.image_url, :size => '128x128' %>
    <div>メーカー：<%= item.company %></div>
    <div>
      <span id="star-rate-<%= item.id %>"></span>
      <%= render 'shared/star', result: item %>
      <span>（口コミ：<%= item.comments.count %>件）</span>
    <p><%= item.subject %></p>
  </div>
<% end %>