<h1>ホーム</h1>

<h3>最近のコメント</h3>
<% @comment.each do |comment| %>
  <div>
  <p><%= image_tag comment.item.img.url, :size => '35x35' %> <%= link_to comment.item.name, item_path(comment.item) %>に対するコメント</p>
    <p><%= comment.user.name%></p>
    <p><%= comment.content %></p>
  </div>
<% end %>

<h3>最近登録されたアイテム</h3>
<% @item.each do |item| %>
  <div>
    <p><%= link_to item.name, item_path(item) %></p>
    <%= image_tag item.img.url, :size => '128x128' %>
    <p>メーカー：<%= item.company %></p>
    <p><%= item.subject %></p>
    コメント数（<%= item.comments.count %>）
  </div>
<% end %>