<%= form_with model: @item do |f|%>
  <div>
    <%= f.label :neme, "アイテム名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :company, "メーカー" %><br>
    <%= f.text_field :company %>
  </div>


  <div>
    <%= f.label :subject, "説明" %><br>
    <%= f.text_area :subject %>
  </div>

  <div>
    <%= f.label :img, "画像" %><br>
    <%= f.file_field :img %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>