<%= form_with model: @item do |f|%>
  <div>
    <%= f.label :neme, "アイテム名" %><br>
    <%= f.text_field :name, id: "item_name" %>
  </div>

  <div>
    <%= f.label :company, "メーカー" %><br>
    <%= f.text_field :company, id: "item_company" %>
  </div>

  <div>
    <%= f.label :url, "https://amazon.jp/dp/ASIN/" %><br>
    <%= f.text_field :url, id: "url" %>
  </div>

  <div>
    <%= f.label :subject, "説明" %><br>
    <%= f.text_area :subject, id: "item_subject" %>
  </div>

  <div>
    <%= f.label :image_url, "画像[https://images-na.ssl-images-amazon.com/images/P/[ASIN].09.LZZZZZZZ]" %><br>
    <%= f.text_area :image_url, id: "image_url" %>
  </div>

  <div>
    <%= f.submit "登録する" %>
  </div>
<% end %>