<%= javascript_pack_tag 'star' %>
<% breadcrumb :item, @item %>

<h2><%= @item.name %></h2>
<div>
  <%= image_tag @item.image_url %>
  <p>メーカー：<%= @item.company %></p>
  <span id="star-rate-<%= @item.id %>"></span>
  <span>（口コミ：<%= @item.comments.count %>件）</span>

  <script>
    $('#star-rate-<%= @item.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      readOnly: true,
      half: true,
      score: <%= @item.comments.average(:rate).to_f.round(1) %>,
    });
  </script> 

  <p>説明</p>
  <p><%= @item.subject %></p>
  <p><%= link_to "amazonで見る", @item.url, target: :_blank %>　楽天で見る</p>
  <% if user_signed_in? %>
    <% if current_user.admin?%>
      <p><%= link_to "[編集]", edit_item_path %>　
      <%= link_to "[削除]", item_path, method: :delete, data: { confirm: "本当に削除しますか?" } %></p>
    <% end %>
  <% end %>

  <p>口コミ一覧（<%= @item.comments.count %>）</p>
  <% @comments.each do |comment| %>
    <%= comment.user.name %>さんの口コミ
    <%= render 'shared/comments', comment: comment %>
  <% end %>

  <div>
  <h3>口コミを投稿する</h3>
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], local: true) do |f| %>
        <div>
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title %>
        </div>

        <div class="field" id="star">
          <%= f.label :rate,  "評価 " ,id: "e" %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>

    <script>
        $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'comment[rate]',
        });
    </script>
        
        <div>
          <%= f.text_area :content %>
        </div>
        <div>
          <%= f.submit "口コミを投稿する"%>
        </div>
      <% end %>
    <% else %>
      <p>口コミを投稿するには<%= link_to "ログイン", new_user_session_path %>してください</p>
    <% end %>
  </div>
</div>