<footer class="footer py-4 font-small mt-5">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <span  class="footer-logo pb-0"><%= link_to "ホーム", root_path %></span><br>
          <small>© 2020. All Rights Reserved.</small>
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
          <ul>
            <li><%= link_to "お問い合わせ", new_contacts_path %></li>
            <li><%= link_to "サポート", support_path %></li>
            <li>利用規約</li>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <li><%= link_to "管理者ページ", rails_admin_path %></li>
                <li><%= link_to "アイテム登録", new_item_path %></li>
              <% end %>
            <% end %>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</footer>