<h1><%= link_to "ホーム", root_path %></h1>
<% if user_signed_in? %>
  <%= link_to "マイページ", account_path(current_user) %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
  テストログイン
<% end %>
<%= link_to "アイテム一覧検索", items_path %>