<!DOCTYPE html>
<html>
  <head>
    <title>GuitarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'star' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= breadcrumbs separator: " &rsaquo; "%>
    <%= render 'layouts/flash_message' %>
    <div class="mt-4">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
