<!DOCTYPE html>
<html>
  <head>
    <title>GuitarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_message' %>
    <%= yield %>
    <div>
      <% if user_signed_in? %>
        ログイン中：<%= image_tag current_user.image.url, :size => '40x40' %><%= current_user.name %>
      <% end %>
    </div>
    <%= link_to "ホーム", root_path %>
  </body>
</html>
