<% breadcrumb :account %>

<h1><%= current_user.name %>様のマイページ</h1>
<%= image_tag current_user.image.url, :size => '200x200' %><br>
<p><%= link_to "[プロフィール設定]", edit_account_path %>　
<%= link_to "[ログアウト]", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか?" } %></p>
<p>
  <% if current_user.comments.any? %>
    <%= current_user.name %>様の残した口コミ：<%= current_user.comments.count %><br>
    <% @comments.each do |comment| %>
      <%= link_to comment.item.name, item_path(comment.item) %>への口コミ
      <%= render 'shared/comments', comment: comment %>
    <% end %>
  <% else %>
    投稿した口コミはありません
  <% end %>
</p>