<% breadcrumb :account %>

<h1 class="text-center"><%= current_user.name %>様のマイページ</h1>
<div class="text-center user_profile">
  <%= image_tag current_user.image.url, :size => '200x200' %><br>
  <p><%= link_to "プロフィール設定", edit_account_path, class:"btn btn-success mt-2" %></p>
</div>

<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">口コミ：<%= current_user.comments.count %>件</a>
    </li>

    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">お気に入り：<%= current_user.likes.count %></a>  
    </li>
  </ul>
</div>

<div class="tab-content pt-3">
  <div id="tab1" class="tab-pane active">
    <% if current_user.comments.any? %>
      <% @comments.each do |comment| %>
        <%= render 'shared/comments', comment: comment %>
      <% end %>
    <% else %>
      <p>投稿した口コミはありません</p>
    <% end %>
  </div>

  <div id="tab2" class="tab-pane mx-2">
    <div class="row">
      <% @items.each do |item| %>
        <%=render 'items/items', item: item %>
      <% end %>
    </div>
  </div>
</div>